//Color
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$darker-gray: hsl(0, 0%, 41%);
$opacity-black: rgba(0, 0, 0, 1);
//Font-sizes
$medium-font: 0.9375rem;

//Font-families
$alata: 'Alata', sans-serif;
$j-sans: 'Josefin Sans', sans-serif;

//paddings
$horizontal: 7vw;