.title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.color-grey {
  color: #8c8c8c;
}

.scroll-disable {
  max-height: 100vh;
  overflow: hidden;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7vh 7vw 0;
  margin-bottom: 20vh;
}

@media (max-width: 43.6875em) {
  .hero {
    background: center/cover no-repeat url("../images/mobile/image-hero.jpg");
    height: 179.53321vw;
  }
}

@media (max-width: 43.6875em) and (min-width: 25em) {
  .hero {
    max-height: 600px;
  }
}

@media (min-width: 43.75em) {
  .hero {
    background: no-repeat top right 50%/cover url("../images/desktop/image-hero.jpg");
    height: 45.14061vw;
    min-height: 400px;
  }
}

.hero .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .nav #nav__logo {
  z-index: 4;
}

.hero .nav label[for="dropbar"] {
  z-index: 4;
}

@media (min-width: 43.75em) {
  .hero .nav label[for="dropbar"] {
    display: none;
  }
}

.hero .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
}

.hero .nav__links a {
  color: white;
  text-decoration: none;
}

.hero .nav__links a:not(:last-child) {
  margin-right: 2vw;
}

@media (max-width: 43.6875em) {
  .hero .nav__links {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5vw;
  }
  .hero .nav__links a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1vh 0;
  }
}

.hero .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .box {
  color: white;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  overflow-wrap: break-word;
  width: 100%;
  max-width: 400px;
  border: 2px solid white;
}

@media (min-width: 25em) {
  .hero .box {
    -ms-flex-item-align: start;
        align-self: flex-start;
    overflow-wrap: normal;
    width: 80%;
  }
}

@media (min-width: 43.75em) {
  .hero .box {
    width: 50%;
  }
}

@media (min-width: 68.75em) {
  .hero .box {
    font-size: 2.7rem;
    width: 40%;
  }
}

#dropbar {
  display: none;
}

#dropbar:checked + .nav__links {
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 5vh;
  background-color: black;
  padding: 5vh 0;
}

footer h2 {
  color: white;
  font-size: 0.9375rem;
  font-family: "Josefin Sans", sans-serif;
}

footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-box #footer__logo {
  margin-bottom: 4vh;
}

footer .footer-box > div {
  text-align: center;
}

footer .footer-box > div h2 {
  margin-top: 3vh;
  margin-bottom: 0;
}

@media (min-width: 43.75em) {
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-right: 5vw;
    padding-left: 5vw;
  }
  footer .footer-box:nth-child(1) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer-box:nth-child(1) > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-box:nth-child(1) > div h2 {
    margin-top: 0;
    margin-right: 3vw;
  }
  footer .footer-box:nth-child(2) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .footer-box:nth-child(2) h2 {
    margin: 0;
  }
}

#logo-box {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logo-box > *:not(:last-child) {
  margin-right: 0.5vw;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 24.9375em) {
  html {
    font-size: 80%;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  line-height: 1.3;
  font-family: "Alata", sans-serif;
}

section {
  margin-bottom: 20vh;
}

.main-content {
  padding: 0 7vw;
  position: relative;
}

.main-content img {
  width: 100%;
}

.main-content .text-box {
  text-align: center;
  background-color: white;
  font-size: 0.9375rem;
}

.main-content .text-box h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: black;
}

@media (min-width: 68.75em) {
  .main-content img {
    width: 60%;
  }
  .main-content .text-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 40%;
    max-height: 100%;
    text-align: left;
    line-height: 1.5;
    padding: 2% 5% 0;
    font-size: 0.75rem;
  }
  .main-content .text-box h1 {
    font-size: 2rem;
  }
}

.example-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.5vw;
  padding: 0 7vw;
}

.example-content > .title {
  font-size: 3rem;
}

.example-content > .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5vh;
}

.example-content > .button-box button {
  padding: 0.8rem 1.3rem;
  border: 2px solid black;
  font-size: 1.5rem;
  letter-spacing: 7px;
  font-family: "Alata", sans-serif;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 0.25s, color 0.25s;
  transition: background-color 0.25s, color 0.25s;
}

.example-content > .button-box button:hover {
  background-color: black;
  color: white;
}

.example-content > .img-box {
  position: relative;
  font-size: 0;
  cursor: pointer;
}

.example-content > .img-box .title {
  font-size: 2rem;
  color: white;
  position: absolute;
  bottom: 4%;
  left: 5%;
  margin: 0;
  z-index: 2;
}

@media (min-width: 68.75em) {
  .example-content > .img-box .title {
    font-size: 3rem;
  }
}

.example-content > .img-box img {
  width: 100%;
  height: auto;
}

@media (min-width: 43.75em) {
  .example-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .example-content .button-box {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-column-end: -1;
    margin: 0;
  }
}

@media (min-width: 68.75em) {
  .example-content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .example-content > .title {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  .example-content > .button-box {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: -1;
  }
}

.img-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-0.25turn, #0000, rgba(0, 0, 0, 0.6));
  height: 100%;
  width: 100%;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

@media (min-width: 68.75em) {
  .img-box::after {
    background: -webkit-gradient(linear, left top, left bottom, from(#0000), to(rgba(0, 0, 0, 0.6)));
    background: linear-gradient(#0000, rgba(0, 0, 0, 0.6));
  }
}

.img-box:hover::after {
  background: none;
  background-color: rgba(255, 255, 255, 0.801);
}

.img-box:hover .title {
  color: black;
}

.link, .link-icon {
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.link::after, .link-icon::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 100%;
  width: 50%;
  border-bottom: 3px solid white;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.link:hover::after {
  -webkit-transform: translate(150%);
          transform: translate(150%);
}

.footer-box #logo-box .link-icon::after {
  width: 100%;
}

.footer-box #logo-box .link-icon:hover::after {
  -webkit-transform: translate(100%);
          transform: translate(100%);
}
/*# sourceMappingURL=style.css.map */